@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* header section  */

.header{
    display: flex;
    height: 70vh;
    background: white;
    color: black;
}
.nav{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .login{
    font-size: 14px;
    font-weight: 600;
    color: black;
    padding: 0 20px;
}
.nav .login:hover{
    color: orange;
}
.nav .signup{
    background: black;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
}
.left{
    width: 50%;
    margin:0 5% 0 10%;
}
h1{
    font-size: 40px;
    margin: 10px 0;
}
.left p{
    font-size: 24px;
    color: gray;
    font-weight: 300;
}
.search{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}
.input
{
    padding: 10px 30px;
    padding-right: 150px;
    font-size: 16px;
    font-weight: 600;
    color: gray;
}
.search a{
    position: relative;
    right: 120px;
    padding: 12px;
    font-size: 12px;
    font-weight: 600;
    color: gray;
    width: 100px;
    border: none;
}
.search a:hover{
    background: rgba(213, 210, 210, 0.758);
    color: black;
}
.search .submit{
    position: relative;
    right: 120px;
    padding: 22px 30px;  
    font-size: 14px;
    font-weight: 600;
    color: gray;
    border: none;
    background: rgb(241, 115, 69);
}
h3{
    color: rgb(193, 188, 188);
    font-size: 16px;
    margin: 20px 0;
}

.cities a{
    padding: 0;
    margin: 0;
    color: rgb(126, 124, 124);
    padding-right: 10px;
    font-size: 16px;
    font-weight: 600;
}
.cities a:nth-child(odd){
    color: rgb(193, 188, 188);
}

/* section content  */


.section{
    display: flex;
    justify-content: space-around;
    margin: 0 auto ;
    /* width: 100%; */
    padding: 0 10%;
    background: #2b1e16;
    padding-bottom: 80px;
}
.section div {
    width: 300px;
    text-align: center;
    color: white;
}
.section div:last-child{
    padding-top: 40px;
    
}
.section div h3{
    font-size: 18px ;
    font-weight: 600;
    color: #fff;
}
.section div p{
    color: gray;
    line-height: 1.4;
}
.section div img{
    width: 120px;
}


/* doenloads section  */

.downloads{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 0 10%;
    

}
.downloads img{
    padding: 0;
}
.downloads h1{
    padding-right: 100px;
}
.downloads p{
    color: gray;
    font-size: 18px;
    padding: 10px 0;
    padding-right: 100px;
    line-height: 1.4;
}
.downloads div:last-child {
    display: flex;
    /* padding-left: 100px; */
}
.downloads .images img{
    margin: 40px 5px;
}

.right{
    width: 50%;
    background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch1_vlksgq");
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: 600;
    margin: 0 10%;
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid gray;
}
.container div{
    text-align: left;
    width: 25%;
}
h2{
    color: gray;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}
ul{
    width: 100%;
    list-style: none;
}

li,a{
    width: 100%;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s;
}
a{
    padding-right:200px ;
}
a:hover{
    font-weight:600 ;
    color: white;
}

.delivery_links{
    padding-top: 15px;
}

.delivery_links h2{
    margin: 0 10%;
}
.last_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 10%;
    padding: 30px 0;
    color: white;
}
.favicons img{
    width: 30px;
    margin-left: 20px;
}